@model IEnumerable<RetroCinemaDomain.Model.Genre>

@{
    ViewData["Title"] = "Index";
}

<h1>Genres</h1>

<div class="mb-3">
    <a asp-action="Create" class="btn btn-success">Додати новий жанр</a>
    <a asp-action="Import" class="btn btn-primary">Завантажити з файлу (Excel)</a>
    <a asp-action="Export" class="btn btn-secondary">Експортувати у файл (Excel)</a>
</div>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
