@model IEnumerable<RetroCinemaDomain.Model.Movie>

@{
    ViewData["Title"] = "Index";
}

<h1>Фільми</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReleaseYear)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Director)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DurationMinutes)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PosterUrl)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsDeleted)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedAt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UpdatedAt)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReleaseYear)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Director)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DurationMinutes)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PosterUrl)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsDeleted)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedAt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UpdatedAt)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
<hr />
<div class="row mt-5">
    <div class="col-md-6">
        <h4 class="text-center">Стрічки за роками</h4>
        <div id="moviesByYearChart" style="width: 100%; height: 400px;"></div>
    </div>
    <div class="col-md-6">
        <h4 class="text-center">Завантаженість залів (кількість сеансів)</h4>
        <div id="sessionsByHallChart" style="width: 100%; height: 400px;"></div>
    </div>
</div>
@section Scripts {
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
        google.charts.load('current', { 'packages': ['corechart'] });
        google.charts.setOnLoadCallback(drawAllCharts);

        function drawAllCharts() {
        drawMoviesByYearChart();
        drawSessionsByHallChart();
        }

        function drawMoviesByYearChart() {
        fetch('/api/charts/moviesByYear')
        .then(response => response.json())
        .then(data => {
        const dataTable = new google.visualization.DataTable();
        dataTable.addColumn('string', 'Рік');
        dataTable.addColumn('number', 'Кількість фільмів');

        data.forEach(item => {
        dataTable.addRow([item.label, item.count]);
        });

        const options = {
        title: 'Стрічки за роками випуску',
        legend: { position: 'none' },
        colors: ['#4e73df']
        };

        const chart = new google.visualization.ColumnChart(document.getElementById('moviesByYearChart'));
        chart.draw(dataTable, options);
        });
        }

        function drawSessionsByHallChart() {
        fetch('/api/charts/sessionsByHall')
        .then(response => response.json())
        .then(data => {
        const dataTable = new google.visualization.DataTable();
        dataTable.addColumn('string', 'Зал');
        dataTable.addColumn('number', 'Кількість сеансів');

        data.forEach(item => {
        dataTable.addRow([item.label, item.count]);
        });

        const options = {
        title: 'Розподіл сеансів по залах',
        pieHole: 0.4 
        };

        const chart = new google.visualization.PieChart(document.getElementById('sessionsByHallChart'));
        chart.draw(dataTable, options);
        });
        }
    </script>
}